.mediaViewInfo {
	--web-view-name: Settings;
	--web-view-id: Settings;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Settings;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Settings {
	position: absolute;
	width: 1920px;
	height: 1323px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Settings;
	--web-view-id: Settings;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
@keyframes  {


}
#Background_hy {
	fill: rgba(239,241,242,1);
}
.Background_hy {
	filter: drop-shadow(0px 2px 30px rgba(0, 0, 0, 0.149));
	position: absolute;
	overflow: visible;
	width: 1575.563px;
	height: 1155.222px;
	left: 434.299px;
	top: 257.64px;
}
#Rectangle_128_hz {
	fill: rgba(2,51,107,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_128_hz {
	position: absolute;
	overflow: visible;
	width: 521px;
	height: 123px;
	left: 588px;
	top: 391px;
}
#Rectangle_131 {
	fill: rgba(2,51,107,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_131 {
	position: absolute;
	overflow: visible;
	width: 521px;
	height: 123px;
	left: 1264px;
	top: 391px;
}
#YE_EKLE_ADD_MEMBER {
	left: 608px;
	top: 436px;
	position: absolute;
	overflow: visible;
	width: 482px;
	white-space: nowrap;
	line-height: 48px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
#YE_SL_DELETE_MEMBER {
	left: 1274px;
	top: 436px;
	position: absolute;
	overflow: visible;
	width: 512px;
	white-space: nowrap;
	line-height: 48px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
	letter-spacing: 1px;
}
#headPart_h {
	position: absolute;
	width: 1920px;
	height: 782px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Header_h {
	fill: rgba(248,149,30,1);
}
.Header_h {
	filter: drop-shadow(0px 2px 30px rgba(0, 0, 0, 0.102));
	overflow: visible;
	position: absolute;
	width: 2010px;
	height: 390px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Tobb_Logo_h {
	position: absolute;
	width: 197px;
	height: 196px;
	left: 1653px;
	top: 52px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Home.html;
	cursor: pointer;
}
#SearchBar_h {
	position: absolute;
	width: 853.086px;
	height: 47.022px;
	left: 492.104px;
	top: 126px;
	overflow: visible;
}
#Rec1_h {
	fill: rgba(255,255,255,1);
}
.Rec1_h {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.102));
	position: absolute;
	overflow: visible;
	width: 796.74px;
	height: 65.022px;
	left: 74.345px;
	top: 0px;
}
#searchIcon_h {
	fill: rgba(255,255,255,1);
}
.searchIcon_h {
	overflow: visible;
	position: absolute;
	width: 37.896px;
	height: 37.896px;
	left: 0px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
#searchType_h {
	left: 118.896px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(77,79,92,1);
}
#AdminProfile_ia {
	position: absolute;
	width: 262px;
	height: 216px;
	left: 87px;
	top: 42px;
	overflow: visible;
}
#adminLevel_ib {
	left: 88px;
	top: 183px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(59,35,20,1);
	letter-spacing: 0.1px;
}
#adminUsername_ic {
	left: 0px;
	top: 144px;
	position: absolute;
	overflow: visible;
	width: 263px;
	white-space: nowrap;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}
#PhotoBackground_id {
	filter: drop-shadow(0px 3px 30px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 112px;
	height: 112px;
	left: 76px;
	top: 0px;
	overflow: visible;
}
#MenuItems_ie {
	position: absolute;
	width: 211px;
	height: 437px;
	left: 93px;
	top: 345px;
	overflow: visible;
}
#menuItem5_if {
	left: 1px;
	top: 398px;
	position: absolute;
	overflow: visible;
	width: 137px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Login.html;
	cursor: pointer;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
#menuItem4_ig {
	left: 1px;
	top: 298.5px;
	position: absolute;
	overflow: visible;
	width: 105px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
#menuItem3_ih {
	left: 0px;
	top: 199px;
	position: absolute;
	overflow: visible;
	width: 212px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Bank_Info.html;
	cursor: pointer;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
#menuItem2_ii {
	left: 0px;
	top: 99.5px;
	position: absolute;
	overflow: visible;
	width: 193px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Detailed_Table.html;
	cursor: pointer;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}
#selectedMenuItem_ij {
	left: 2px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 150px;
	white-space: nowrap;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: Home.html;
	cursor: pointer;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 33px;
	color: rgba(0,0,0,1);
}