body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  zoom: 100%;
}
#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

#thebtn {
  color: wheat;
  border-radius: 6%;
  background-color: #1e6091;
  justify-content: center;
  width: 80px;
  padding: 10px 1px;
  margin: 100px auto;
}

header {
  display: flex;
  background-color: #f78d2b;
  justify-content: space-around;
  align-items: center;
  height: 9em;
  width: 100%;
}

img {
  margin: 10px;
  height: 3.2em;
  width: 3.2em;
  border-radius: 50%;
  border: white solid;
}

#name {
  margin: 0;
  letter-spacing: 2px;
  font-size: 15px;
  color: aliceblue;
}
#role {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}
#credentials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#toolbar {
  border-radius: 7px;
  font-size: small;
  width: 33%;
  background-color: white;
  height: 2.2em;
}

#search {
  padding: 6px 10px;
}

input[type="text"] {
  outline: none;
  border: none;
  font-size: 1em;
  font-weight: 300;
  width: 70%;
}

#logo {
  height: 5em;
  width: 5em;
}

#aull {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  width: 17%;
  height: 30em;
  font-size: 17px;
  font-weight: 530;
  padding: 0 25px;
  margin: 0;
}

#aul {
  justify-content: center;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  width: 17%;
  height: 40em;
  font-size: 17px;
  font-weight: 530;
  padding: 25px;
  margin: 0;
}

#divider {
  height: 100%;
  width: 5px;
  border-right: white solid 1px;
}
a,
li {
  padding: 10px;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

/* li:nth-of-type(1) {
  font-weight: bold;
} */

main {
  display: flex;
}
.fixpos {
  padding: 20px;
  margin: 20px;
}
#bank {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

#statistics,
#detailedTable,
#bank,
#yadi {
  left: 200px;
  background-color: #9d0208;
  background-color: #e9ecef;
  box-shadow: -0.1em 0 5px 0 #e9ecef;
  width: 100%;
  height: 50em;
}
#dt {
  padding: 20px;
}

.dtr td,
.dtr th {
  padding: 15px 18px;
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ms {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: white solid 0.5px;
  border-right: white;

  flex-wrap: wrap;
}

.data {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.data > i,
.data > p {
  font-size: 1.5em;
}

.data > i {
  padding: 0 1em;
  margin: 0;
}

article > p,
.stats > p {
  font-size: 15px;
  color: #495057;
  height: 0em;
  font-weight: 300;
}

.fa-donate {
  color: #9d0208;
}

.fa-hand-holding-usd {
  color: #14213d;
}

.fa-balance-scale {
  color: #52b788;
}

#beforefancy {
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  border-bottom: #ffffff solid 0.5px;

  /* width: 170%; */
  /* align-items: center; */
}

#gs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.fa-arrow-down {
  color: red;
}

.fa-arrow-up {
  color: #52b788;
}

.profilo {
  display: flex;
  align-items: center;
}

.profilo > img {
  height: 3em;
  width: 3em;
}

.iden > p {
  padding: 0;
  margin: 0;
}
.iden > p:nth-of-type(1) {
  font-weight: 600;
}

.iden > p:nth-of-type(2) {
  font-weight: 100;
  font-size: 13px;
}
#beside {
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#list {
  color: #1c1d1f;
  border-top: whitesmoke solid 0.5px;
  border-left: #ffffff solid 0.5px;
}

th,
td {
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 300;
}

th {
  color: #495057;
  font-weight: 600;
}

#fancyfigures {
  padding: 50px 67px;
}

.pie {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #35dbeb;
  background-image: linear-gradient(to right, transparent 50%, #bdb2ff 0);
  mix-blend-mode: multiply;
}

#divide {
  background-color: white;
  margin: 30px 0px;
  width: 100%;
  height: 1px;
}

#createDiscount,
#discountList {
  padding: 20px;
  font-weight: 600;
}

#firstprt {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-between;
}

#firstprt input {
  width: 70px;
  border-radius: 10%;
}

.lett input[type="button"] {
  background-color: rgba(235, 144, 41, 0.575);
  border-radius: 10%;
}

.lett {
  display: flex;
  flex-direction: column;
}
#makespace {
  padding: 20px 0;
}
