body{
    margin: 0;
    padding: 0;
    /* background-color:#0F1319; */
    background-image: url("Back.png");
    background-size:cover;
    background-repeat:no-repeat;
    font-family: sans-serif;
}

.loginbox{
    width: 400px;
    height: 470px;
    color: #fff;
    top: 55%; 
    left: 30%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 0px 15px;
}

h1{
    margin: 0;
    padding: 0 0 8px;
    /* text-align: center; */
    font-size: 25px;
    color: #4D8CF4;
}

h2{
    margin: 0;
    padding: 0 0 10px;
    /* text-align: center; */
    font-size: 15px;
    color: #e6e6e6;
}


.loginbox p{
    margin-bottom: 10px;
    padding: 0;
    color: #6C6F74;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    /* margin-bottom: 20px; */
}

.loginbox input[type="text"], input[type="password"]
{
    border: 1px solid #3E4247;
    border-radius: 5px;
    background: #1F2329;
    padding: 5px;
    outline: none;
    height: 35px;
    font-size: 16px;
    color: aliceblue;
}

.loginbox button[type="submit"]
{
    border: none;
    outline: none;
    height: 55px;
    background: #5895F9;
    color: rgb(226, 226, 226);
    font-size: 18px;
    border-radius: 10px;
    width: 100%;
    margin-top: 30px;
}

.loginbox button[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.error{
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}

.mainpage {
    width: 30%;
    left: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #B0C4DE;
    background: #1F2329;
    border-radius: 0px 0px 10px 10px;
    color: white;
}

.header{
    width: 30%;
    left: 50%;
    margin: auto;
    padding: 20px;
    background: #2d333b;
    border: 1px solid #B0C4DE;
    /* background: #e0be23; */
    border-radius: 10px 10px 0px 0px;
    margin-top: 10%;
}
.success{
    color: #3c763d;
    background: #dff0d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}


