@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  zoom: 100%;
}

img {
  margin: 10px;
  height: 3.2em;
  width: 3.2em;
  border-radius: 50%;
  border: white solid;
}

a,
li {
  padding: 6px 0px;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

main {
  display: flex;
}

header {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f78d2b;
  height: 7em;
}
header .profile h1 {
  margin-top: -0.7em;
  font-size: 0.8em;
  letter-spacing: 2px;
  color: aliceblue;
}
header .profile h2 {
  margin-top: -0.9em;
  font-size: 0.9em;
  font-weight: 600;
}

.profile {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
}
.profile img {
  margin-bottom: 5px;
}
.credentials {
  margin-top: 0px;
}

.toolbar {
  border-radius: 20px;
  font-size: small;
  height: 2em;
  width: 33%;
  padding: 5px 15px 0px;
  background-color: white;
}

input[type="text"] {
  outline: none;
  border: none;
  font-size: 1.2em;
  font-weight: 400;
  width: 70%;
}

.logo {
  height: 5.5em;
  width: 5.5em;
}

.menu {
  align-items: center;
}
.menu .aul {
  background-color: #ffffff;
  width: 270px;
  height: 40em;
  padding: 10px 0px 10px 15px;
  margin-top: 45px;
  transition-duration: 250ms;
}
/* .menu .aul:hover {
  width: 220px;
  flex-direction: column;
} */
.menu .aul li {
  margin-top: 20px;
}
.menu .aul li a {
  /* box-sizing: border-box; */
  font-size: 16px;
  font-weight: 500;
  padding: 14px 20px;
  border-radius: 40px;
  transition-duration: 250ms;
}
.menu .aul li a:hover {
  background-color: #f78d2b;
  font-size: 18px;
}
