body,
html {
  margin: 0;
  padding: 0;
  background-image: url("/static/images/Back.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  height: 100%;
  background-size: cover;
}

#tobb {
  height: 80px;
}
#welcom {
  height: 80px;
}
#header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

#empty {
  width: 20%;
}

#logo {
  height: 100px;
  margin: 40px 0px;
  left: 10%;
  top: 5%;
  position: absolute;
}

#intro {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-right: 10%;
}

img {
  height: 100px;
}
.loginbox {
  width: 400px;
  height: 470px;
  color: #fff;
  top: 70%;
  left: 23%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 0px 15px;
}

h1 {
  margin: 0;
  padding: 0 0 8px;
  /* text-align: center; */
  font-size: 25px;
  color: #4d8cf4;
}

h2 {
  margin: 0;
  padding: 0 0 10px;
  /* text-align: center; */
  font-size: 15px;
  color: #e6e6e6;
}

.loginbox p {
  margin-bottom: 10px;
  padding: 0;
  color: #6c6f74;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  /* margin-bottom: 20px; */
}

.loginbox input[type="text"],
input[type="password"] {
  border: 1px solid #3e4247;
  border-radius: 5px;
  background: #1f232915;
  padding: 5px;
  outline: none;
  height: 35px;
  font-size: 16px;
  color: rgb(0, 4, 8);
}

.loginbox button[type="submit"] {
  border: none;
  outline: none;
  height: 55px;
  background: #5895f9;
  color: rgb(226, 226, 226);
  font-size: 18px;
  border-radius: 10px;
  width: 100%;
  margin-top: 30px;
}

.loginbox button[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}

.mainpage {
  width: 30%;
  left: 50%;
  margin: auto;
  padding: 20px;
  border: 1px solid #b0c4de;
  background: #1f2329;
  border-radius: 0px 0px 10px 10px;
  color: white;
}

.header {
  width: 30%;
  left: 50%;
  margin: auto;
  padding: 20px;
  background: #2d333b;
  border: 1px solid #b0c4de;
  /* background: #e0be23; */
  border-radius: 10px 10px 0px 0px;
  margin-top: 10%;
}
.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
