{% extends 'base.html' %}


{% block head %}

  <title> Homepage </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admins.css') }}" />

{% endblock %}


{% block body %}

  <section id="yadi">
    <table id="dt">
      <thead>
        <tr class="dtr">
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
          {% for admin in admins %}
          <tr class="dtr">
            <td>{{ admin[0] }}</td>
            <td>
              <form name="input-group" action="admins" method="post"> 
                <button type="submit" name="delete-admin" value="{{ admin[0] }}">Delete</button>
              </form>
            </td>

            {% if admin[0] != 'admin'%}
            <td>
              <form name="input-group" action="admins" method="post"> 
                <button type="submit" name="update-password" value="{{ admin[0] }}">Update Password</button>
                <input type="text" id="textInput" placeholder="New Password">
              </form>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
      </tbody>
    </table>
  
  <div class="add-admin">
    <form name="input-group" action="admins" method="post">
      <input type="text" name="username" placeholder="username">
      <input type="password" name="password" placeholder="password">
      <button type="submit" name="add-admin" value="x">Add New Admin</button>
    </form>
  </div>

  </section>

{% endblock %}
