{% extends 'base.html' %}


{% block head %}

  <title> Homepage </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bank.css') }}" />

{% endblock %}


{% block body %}

  <section id="bank">
    
    <div class="fixpos">
      <table id="banktable">
        <thead>
          <tr class="dtr">
            <th>Receipt No</th>
            <th>TC No</th>
            <th>Açıklama</th>
            <th>Ödeme</th>
            <th>Tarih</th>
          </tr>
        </thead>
        <!-- python code goes here -->
        <tbody>

        {% for receipt in receipt_list %}
          <tr class="dtr">
            <td>{{ receipt[0] }}</td>
            <td>{{ receipt[1] }}</td>
            <td>{{ receipt[4] }}</td>
            <td>{{ receipt[5] }}</td>
            <td>{{ receipt[6] }}</td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>

    <div id="divider"></div>
    <div class="fixpos">
      <div id="">
        <label for="start">Select Year:</label>
        <input
          type="month"
          id="start"
          name="start"
          min="2014-01"
          value="2018-05"
        />
      </div>
      <table id="extratable">
        <thead>
          <tr class="dtr">
            <th>TC</th>
            <th>Year</th>
            <th>Annual Dues</th>
            <th>Dues Paid</th>
          </tr>
        </thead>
        <!-- python code goes here -->
        <tbody>
          <tr class="dtr">
            <td>110510102</td>
            <td>2021</td>
            <td>$50</td>
            <td>$50</td>
          </tr>
          <tr class="dtr">
            <td>153785432</td>
            <td>2020</td>
            <td>$500</td>
            <td>$77</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

{% endblock %}
