{% extends 'base.html' %} {% block head %}

<title>Homepage</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/table.css') }}"
/>

{% endblock %} {% block body %}

<section id="detailedTable">
  <table id="dt">
    <thead>
      <tr class="dtr">
        <th>ID</th>

        <th>Name</th>
        <th>Surname</th>
        <th>Workplace</th>

        <th>Department</th>

        <th>Remaining Fee</th>

        <th></th>


      </tr>
    </thead>
    <tbody>
      {% for member in members %}
      <tr class="dtr">
        <td>{{ member[0] }}</td>

        <td>{{ member[3] }}</td>
        <td>{{ member[4] }}</td>
        <td>{{ member[5] }}</td>

        <td>{{ member[9] }}</td>

        <td>{{ member[13] }}</td>

        <td>
          <form name="input-group" action="profile/id={{member[0]}}" method="post"> 
            <button type="submit" name="profile">Go to Profile</button>
          </form>
        </td>

      </tr>
      {% endfor %}
    
    </tbody>
  </table>
</section>

{% endblock %}
